<main class="py-5">
  <div class="container">
    <h3 class="mb-3">Manage Person</h3>

    <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
      <div class="bg-light p-4">
        <div class="form-row">
          <div class="form-group col-lg-6">
            <label for="">FullName</label>
            <input
              type="text"
              formControlName="fullname"
              name="fullname"
              class="form-control form-control-ml"
              value=""
            />
          </div>
          <div class="form-group col-lg-4">
            <label for="">Email</label>
            <input
              type="email"
              formControlName="email"
              name="email"
              class="form-control form-control-ml"
              value=""
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-lg-5">
            <label for="">DNI</label>
            <input
              type="number"
              formControlName="dni"
              name="dni"
              class="form-control form-control-ml"
              value=""
            />
          </div>
          <div class="form-group col-lg-7">
            <label for="">Age</label>
            <input
              type="number"
              formControlName="age"
              name="age"
              class="form-control form-control-ml"
              value=""
            />
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          *ngIf="!edit; else elseBlock"
        >
          Submit Person
        </button>

        <ng-template #elseBlock>
          <button type="submit" class="btn btn-primary">Update Person</button>
        </ng-template>
      </div>
      <div class="row" *ngIf="message">
        <div class="col-lg-12">
          <div class="alert alert-success" role="alert">{{ message }}</div>
        </div>
      </div>
    </form>
  </div>
</main>
